/*CSS PARA EL FONDO ANIMADO*/
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f06323;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 44%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 31%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 63%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 54%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 40%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 2s;
}
.background li:nth-child(5) {
    left: 6%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 19s;
}
.background li:nth-child(6) {
    left: 45%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 5%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 26s;
}
.background li:nth-child(8) {
    left: 31%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 15s;
}
.background li:nth-child(9) {
    left: 80%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 10s;
}

/*Clases para realizar los cambios de fondo y modificacion del boton*/
.bg-gradient-primary {
    background: #F06323 !important;
}

.form-login{
    min-width: 900px !important;
}

.color-fondo1{
    background-color:transparent !important;
}
.color-boton{
    color: white !important;
    background-color: #f06323 !important;
    border: transparent !important;
}

.color-boton:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.527); /* Agrega sombra en el hover */
    transform: translateY(-3px);
    transition: 0.5s;
}







