/*CSS PARA EL FONDO ANIMADO*/
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f06323;
    overflow: hidden;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 44%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 31%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 63%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 54%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 40%;
    width: 180px;
    height: 180px;
    bottom: -180px;
    animation-delay: 2s;
}
.background li:nth-child(5) {
    left: 6%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 19s;
}
.background li:nth-child(6) {
    left: 45%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 14s;
}
.background li:nth-child(7) {
    left: 5%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 26s;
}
.background li:nth-child(8) {
    left: 31%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 15s;
}
.background li:nth-child(9) {
    left: 80%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 10s;
}

/*FONDO EN FORMA DE OLAS*/
.bg-gradient-primary {
    background: #F06323 !important;
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: repeat !important;
    background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23ffebdb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fff0e4%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fed8bb%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fee1cc%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fec69a%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fed4b3%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fdb379%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fdc69a%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fda059%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fdb782%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fc8d38%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fca969%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22g%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23fa8635%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fba467%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22h%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f87f31%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f99f64%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22i%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f6782e%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f89962%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22j%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f4712a%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f6945f%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22k%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f26a27%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f58f5d%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22l%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f06323%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f38a5a%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%23fffefc%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 107c79.975 5.729 159.95 11.457 228 6 68.05-5.457 124.174-22.1 204-19 79.826 3.1 183.355 25.945 256 29 72.645 3.055 114.408-13.679 188-24s179.013-14.23 257-11c77.987 3.23 128.54 13.597 199 14 70.46.403 160.824-9.16 233-12 72.176-2.84 126.163 1.043 202 2 75.837.957 173.525-1.012 216 1 42.475 2.012 29.738 8.006 57 14l-40 1293H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 215c85.226-1.489 170.452-2.977 237-5s114.417-4.58 187-1 169.878 13.295 256 14c86.122.705 161.07-7.6 224-14 62.93-6.4 113.84-10.895 191-13 77.16-2.105 180.568-1.821 255 1 74.432 2.821 119.89 8.179 184 15s146.876 15.106 237 15c90.124-.106 187.607-8.602 227-12 39.393-3.398 20.697-1.7 42 0l-40 1185H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 323c78.242 5.5 156.485 10.998 236 5 79.515-5.998 160.303-23.495 229-26 68.697-2.505 125.305 9.98 195 15s152.48 2.574 232 6c79.52 3.426 155.778 12.722 224 13 68.222.278 128.407-8.464 207-10 78.593-1.536 175.592 4.135 248 8 72.408 3.865 120.225 5.925 193 0s170.507-19.836 214-23c43.493-3.164 32.746 4.418 62 12l-40 1077H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 430c81.552-1.017 163.105-2.035 241-1 77.895 1.035 152.134 4.12 223 4 70.866-.12 138.36-3.449 204 2 65.64 5.449 129.428 19.674 204 14 74.572-5.674 159.927-31.249 242-32 82.073-.751 160.865 23.32 234 32 73.135 8.68 140.614 1.966 208 1s134.681 3.817 214-4c79.319-7.817 170.663-28.233 211-33 40.337-4.767 29.669 6.117 59 17l-40 970H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 538c81.136-3.548 162.272-7.096 238-5 75.728 2.096 146.047 9.835 210 17 63.953 7.165 121.54 13.755 198 5s171.791-32.855 251-32c79.209.855 142.295 26.665 216 31 73.705 4.335 158.029-12.805 231-16 72.971-3.195 134.59 7.556 200 7s134.61-12.419 218-13c83.39-.581 180.968 10.12 223 13 42.032 2.88 28.516-2.06 55-7l-40 862H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 646c75.954-3.48 151.908-6.959 225-3 73.092 3.959 143.321 15.355 216 13 72.679-2.355 147.807-18.463 230-26 82.193-7.537 171.45-6.503 238 0 66.55 6.503 110.396 18.474 182 21s170.969-4.392 251-8c80.031-3.608 140.73-3.905 208-7 67.27-3.095 141.111-8.987 222-11 80.889-2.013 168.825-.147 208 4 39.175 4.147 29.587 10.573 60 17l-40 754H0Z%22 fill=%22url(%23f)%22%2F%3E%3Cpath d=%22M0 753c66.576-11.817 133.151-23.635 210-19 76.849 4.635 163.97 25.72 244 34 80.03 8.28 152.968 3.751 221 3 68.032-.751 131.157 2.274 200 3 68.843.726 143.405-.847 219-4s152.223-7.886 232-12c79.777-4.114 162.703-7.608 238-12s142.965-9.683 229-9c86.035.683 190.439 7.338 228 11 37.561 3.662 8.28 4.331 19 5l-40 647H0Z%22 fill=%22url(%23g)%22%2F%3E%3Cpath d=%22M0 861c62.469-4.662 124.938-9.324 203-12s171.718-3.366 248-3c76.282.366 135.19 1.786 209 8s162.521 17.22 240 20c77.479 2.78 143.726-2.67 211-10s135.576-16.542 212-16c76.424.542 160.97 10.836 239 19s149.547 14.198 232 11c82.453-3.198 175.844-15.628 212-20 36.156-4.372 15.078-.686 34 3l-40 539H0Z%22 fill=%22url(%23h)%22%2F%3E%3Cpath d=%22M0 969c64.426-8.358 128.853-16.715 200-19 71.147-2.285 149.016 1.504 222 5 72.984 3.496 141.084 6.7 224 6 82.916-.7 180.647-5.302 260-8 79.353-2.698 140.329-3.493 210 3 69.671 6.493 148.039 20.273 228 17 79.961-3.273 161.515-23.599 227-24 65.485-.401 114.9 19.123 193 27 78.1 7.877 184.886 4.108 229 1 44.114-3.108 25.557-5.554 47-8l-40 431H0Z%22 fill=%22url(%23i)%22%2F%3E%3Cpath d=%22M0 1076c80.184 1.467 160.368 2.934 230 6s128.712 7.732 196 5c67.288-2.732 142.783-12.862 220-11 77.217 1.862 156.156 15.715 232 18s148.592-7 218-17c69.408-10 135.477-20.715 219-18s184.501 18.862 262 24c77.499 5.138 131.519-.732 207-9s172.423-18.934 212-19c39.577-.066 21.788 10.467 44 21l-40 324H0Z%22 fill=%22url(%23j)%22%2F%3E%3Cpath d=%22M0 1184c70.627-2.19 141.254-4.38 222-9 80.746-4.62 171.61-11.672 243-9 71.39 2.672 123.305 15.069 192 21 68.695 5.931 154.17 5.398 227 2 72.83-3.398 133.013-9.66 211-10 77.987-.34 173.778 5.243 252 9 78.222 3.757 138.874 5.687 209-1s149.726-21.993 230-18c80.274 3.993 161.221 27.284 197 33 35.779 5.716 26.39-6.142 57-18l-40 216H0Z%22 fill=%22url(%23k)%22%2F%3E%3Cpath d=%22M0 1292c75.454-3.415 150.907-6.83 225-3 74.093 3.83 146.825 14.906 224 16 77.175 1.094 158.792-7.794 228-6 69.208 1.794 126.007 14.269 205 14 78.993-.269 180.18-13.282 250-16s108.272 4.86 179 8c70.728 3.14 173.731 1.842 250-6 76.269-7.842 125.803-22.227 204-20 78.197 2.227 185.056 21.065 229 26 43.944 4.935 24.972-4.032 46-13l-40 108H0Z%22 fill=%22url(%23l)%22%2F%3E%3C%2Fsvg%3E") !important;
}

.form-login{
    min-width: 900px !important;
}

.color-fondo1{
    background-color:transparent !important;
}
.color-boton{
    background-color: #f06323 !important;
    border: white !important;
}

.color-boton:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.527); /* Agrega sombra en el hover */
    transform: translateY(-3px);
    transition: 0.5s;
}





