div .row{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

h1 {
    text-align: left;
}

.btn{
    color: white !important;
    background-color: #F06323 !important;
    border:none;
    margin-top:3px;
    margin-left: 48px;
}

.btn:hover{
    background-color: #F06323;
    color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.582); /* Agrega sombra en el hover */
    transform: translateY(-3px);
    transition: 0.8s;
}

tbody .btn{
    background-color:#F06323;
    color: white;
}

tbody .btn:hover{
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.582); /* Agrega sombra en el hover */
    transform: translateY(-3px);
    transition: 0.8s;
}

.sidebar-brand{
    cursor: default;
}